/* normalizo el documento*/
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    background-color: #B5D5C5;
    font-family: Arial;
    font-size: 1.2rem;
}

header{
    min-height: 10vh;
}

.container-header, .container-main,.container-h2{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-h2{
    width: 60%;
    margin-left: 10%;
    align-items: flex-start;
    justify-items: start;
}



h1{
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-nav{
    width: 83%;
    display: flex;
    justify-content: end;
}

#hockey1,#hockey2,#hockey3,#hockey4{
    width: 66%;
    height: 400px;
    position: relative;
    margin-top: -20px;
    z-index: 0;
}

#hockey2, #hockey3{
    margin-bottom: 20px;
}

.ref{
    background-color: #52734D;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 15px;
    border: 2px solid black;
    box-shadow: 5px 5px rgba(116, 110, 110, 0.9);
    float: right;
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: none;
    width: 120px;
    height: 40px;
    text-align: center;
    position: relative;
    z-index: 5;
}

.ref:hover{
    background-color: #91C788;
}

#h2-index,#h2-index-rul{
    text-align: center;
    margin-bottom: 10px;
}


#h2-game{
    width: 100%;
}


main{
    min-height: 85vh;
}


dt, dd {
    font-weight: bolder;
    text-align: start;
    
}

dd{
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: normal;
}

#img-logo,#img-logo-about{
    width: 130px;
    height: 130px;
    margin: 30px 70px 30px 10px;
}
#img-logo-about{
    margin-left: 0;
    margin-right: 0;
}

ul{
    list-style: none;
    margin-left: 0;
}

li{
    margin-bottom: 10px;
}

footer{
    min-height: 5vh;
    font-weight: bolder;
    text-align: center;
}

.p-game{
    margin-top: 10px;
    margin-left: 10%;
    font-style: italic;
    text-decoration: underline;
}

table{
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 40px;
}

th,td{
    padding: 8px 20px;
    text-align: left;
}

.td-rows{
    text-align: center;
}

table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}


.p-left,.p-left1,.p-left2,.container-main-index,.container-r{
    margin-left: 10%;
}

.container-p{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 90%;
}

span{
    font-weight: bolder;
}


.p-left,.p-left1{
    text-align: justify;
}

.p-left{
    margin-bottom: 10px;
}

.p-left1{
    margin-bottom: 20px;
    width: 68%;
}

.p-center, #h2-index-rul{
    text-align: center;
    margin-bottom: 25px;
}

#h2-index-rul{
    margin-bottom: 0;
}

.p-space{
    width: 80%;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 40px;
    text-indent: 20px;
    text-align: justify;
}

ol,.container-r{
    margin-top: 20px;
}

.li-rules{
    margin-left: 22%;
    width: 64%;
    text-align: justify;
}

.li-marg{
    margin-left: 5%;
    margin-bottom: 0;
    width: 95%;
}

.p-marg1{
    margin-bottom: 20px;
}

.ul-style{
    margin-left: 20px;
    margin-bottom: 40px;
    text-indent: 20px;
    text-align: justify;
    list-style: circle;
}

.li-marg2{
    margin-left: 25%;
    width: 60%;
}
.f-game{
    margin-top: 35px;
}

form{
    padding: 1rem;
}

fieldset{
    border: none;
    margin-left: 11%;
    margin-bottom: 0.5rem;
}

input{
    background-color: whitesmoke;
}

#last{
    width: 22.8%;
}
#l-last, #zip{
    margin-left: 3.5%;
}

.p-form4{
    margin-left: 2%;
}

#city{
    width: 38.5%;
}

#code{
    width: 26.7%;
}

#street{
    width: 68.9%;
}

#date{
    width: 21.2%;
}

#female,#male,#st,#nd,#rd,#th,#th5,#smal,#medium,#ymedium,#large,#ylarge,#elarge,#small,#aj,#marjo,
#greenb,#north,#how,#south,#forw,#mid,#def,#goal{
    width: 18px;
    height: 18px;
    margin-bottom: 15px;
}


#st,#nd,#rd,#th,#th5{
    margin-left: 1%;
}

#st{
    margin-left: 3.2%;
}

.super{
    font-size: 0.8rem;
    vertical-align: super;
}

.p-form,.p-form2,.p-form3{
    font-weight: bolder;
    margin-left: 11%;
    margin-top: 40px;
    margin-bottom: 10px;
}

.p-form2{
    font-size: 1.1rem;
    margin-top: 35px;
}

.p-form3{
    margin-top: 20px;
}

.p-form4{
    display: inline;
}

.p-form5{
    margin-left: 11%;
    margin-bottom: 15px;
    width: 79%;
    text-align: justify;
}

#how{
    margin-bottom: 20px;
}

#marjo{
    margin-left: 9.9%;
}

#north{
    margin-left: 15.1%;
}

#south{
    margin-left: 7.5%;
}

#uni{
    font-weight: bolder;
}

#smal{
    margin-top: 25px;
}

#medium{
    margin-left: 14.5%;
}

#large{
    margin-left: 12%;
}

#elarge{
    margin-left: 14%;
}

#mid,#goal{
    margin-left: 12%;
}

#def{
    margin-bottom: 25px;
}

#small{
    margin-bottom: 15px;
}

iframe{
    width: 200px;
    height: 170px;
    border-radius: 10px;
}



#submit{
    width: 8%;
    border-radius: 5px;
    margin-top: 20px;
    color: whitesmoke;
    background-color: #60a554;
}

#submit:hover{
    background-color: rgb(189, 209, 37)
}



@media only screen and (min-width: 320px) and (max-width: 765px) {
    .container-nav{
        width: 60%;
        margin-left: 35px;
        margin-bottom: 28px;
    }

    .ref{
        margin-left: 40%;
    }

    #hockey1,#hockey2,#hockey3,#hockey4{
        height: 130px;
        width: 80%;
        margin-bottom: 10%;
    }

    #h2-idex{

        margin-bottom: 0;
    }
    .container-main{
        display: block;
        margin-bottom: 10%;
    }

    #img-logo{
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 27%;
    }
    #name,#last,#street,#city,#zip,#code,#date,p-form4,label,.par{
        width: 100%;
    }

    #female{
        margin-top: 10%;
    }

    #male{
        margin-bottom: 38%;
        margin-left: 10.5%;
    }

    #grade{
        margin-right: 50%;
    }
    #p-form4{
        margin-left: 0;
    }
}