/* normalizo el documento*/
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    background-color: #DDFFBC;
    font-family: Arial;
}



header{
    min-height: 10vh;
}

.container-header, .container-main{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



h1{
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-nav{
    width: 80%;
    display: flex;
    justify-content: end;
}

 #hockey1 {
    width: 60%;
    height: 400px;
    position: relative;
    margin-top: -20px;
    z-index: 0;
}


.ref{
    background-color: #52734D;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 15px;
    border: 2px solid black;
    box-shadow: 5px 5px rgba(116, 110, 110, 0.9);
    float: right;
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: none;
    width: 110px;
    height: 40px;
    text-align: center;
    position: relative;
    z-index: 5;
}

.ref:hover{
    background-color: #91C788;
}

main{
    min-height: 85vh;
}


caption{
    font-weight: bolder;
    font-size: 2rem;
}


dt, dd {
    text-align: start;
    
}

dd{
    font-weight: normal;
}

#img-logo{
    width: 130px;
    height: 130px;
    margin: 30px 70px 30px 10px;
}


footer{
    min-height: 5vh;
    font-weight: bolder;
    text-align: center;
}
