/*se importa desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=PT+Serif:ital@1&family=Recursive:wght@300&display=swap');

/* normalizamos el documento desde acá (por ahora)*/
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Serif', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Recursive', sans-serif;
    font-style: italic;
}


div{
    width: 800px;
}

#hockey-1{
    width: 100%;
    height: 350px;
}

h1{
    font-size: 3rem;
}

button{
    background-color: #5F73FF;
    font-size: 20px;
    color: whitesmoke;
    padding: 5px 10px;
    border: 2px solid black;
    box-shadow: 5px 5px rgba(116, 110, 110, 0.5);
    float: right;
}

#button-home{
    background-color: #92EA60;
}